<!DOCTYPE html>
<html>
<head>
    <title>College Updates</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
    <h1>College Academic Updates</h1>
    <nav>
    <a href="/">Home</a>

    {% if user.is_authenticated and user.is_staff %}
        <a href="/staff/">All Staff</a>
    {% endif %}

    {% if user.is_authenticated and user.is_staff %}
        <a href="/add/">Add Announcement</a>
        <a href="/manage/">Manage</a>
    {% endif %}

    {% if user.is_superuser %}
        <a href="/register-staff/">Register Staff</a>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="/logout/">Logout</a>
    {% else %}
        <a href="/login/">Login</a>
    {% endif %}
</nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>